@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 숨기기 (모바일 초대장용) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Swiper 커스텀 */
.swiper-pagination-bullet-active {
  background: currentColor !important;
}
